body {
	background-color: black;
	margin: 0;
	padding: 0;
	/*overflow: hidden;*/
}

p {
	color: white;
	font-size: 1.5em;
}

h1 {
	color: #F28C28;
	text-align: center;
}

#title-screen {
	display: flex;
    justify-content: center;
    align-items: center;
	margin: auto;
	margin-top: 15%;
    width: 40%;
	height: 40%;

}

#end-screen {
	display: flex;
    justify-content: center;
    align-items: center;
	margin: auto;
	margin-top: 15%;
    width: 40%;
	height: 40%;

}

#comic {
	background-color: black;

}

.duck {
	padding: 0;
	margin: 0;
	vertical-align: top;
	width: 150px;
	height: 150px;
}

#duck2 {
	position: absolute;
	top: 0;
    bottom: 0;
    margin: auto;
}

#duck3 {
	transition-duration: 2000ms;
    transition-timing-function: ease-out;
    position: fixed;
    transform: translate(-10%, -10%);
}

.diag {
	position: absolute;
	width: 100%;
	left: 0px;
	text-align: center;
	display: none;
}

.duck-diag {
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	font-style: italic;
}

.ai-diag {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	color: pink;
}

.panel {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background-image: url("space.jpg");

	display: none;
}

#panel1 {
	position: relative;
	width: 100%;
	border-style: solid;

	display: block;
}

.flashbacks {
	display: flex;
	margin: auto;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100%;
}

.flashback {
	width: 200px;
	height: 200px;
}

#flashback1 {

}

#flashback2 {
	margin-top: -20%;
}

#flashback3 {
	margin-top: 25%;
}

.fb-prompt {
	height: 100%;
	width: 100%;
	object-fit: contain;
}

.fb-images {
	margin: 0;
	display: flex;
	position: absolute;
}

.fb-img {
	flex: 33.33%;

	width: 33vw;
	height: 100%;

	opacity: 0;
	transition: opacity 2s ease-in-out; /* 2 sec fade in/out animation that is triggered when the opacity is changed */
	-moz-transition: opacity 2s ease-in-out; /* For portability */
	-webkit-transition: opacity 2s ease-in-out;
}

/*Duck for panel 4*/
#duck4{
transition-duration: 190ms;
	transition-timing-function: ease-out;
	position: fixed;
	transform: translate(-10%, -10%);
}

.ast-img{
	width: 70px;
height:70px;
position: fixed;
}


/* .panel5{
	color: white;
	position: absolute;
	width: 100%;
	left: 0px;
	text-align: center;
	display: none;
} */

#panel5{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.begin{
  max-width: 100vw;
  max-height: 100vh;
}

.img1{
  max-width: 100vw;
  max-height: 100vh;

}


.img{
  max-width: 100vw;
  max-height: 100vh;
}

.img2{
  max-width: 100vw;
  max-height: 100vh;

}

.img3{
  max-width: 100vw;
  max-height: 100vh;

}

.last{
  max-width: 100vw;
  max-height: 100vh;

}
