body {
	background-color: black;
}

p {
	color: white;
	font-size: 20px
}

#comic {
	background-color: darkblue;

}

.duck {
	padding: 0;
}

#duck2 {
	position: absolute;
	top: 0;
    bottom: 0;
    margin: auto;
}

#duck3 {
	transition-duration: 2000ms;
    transition-timing-function: ease-out;
    position: fixed;
    transform: translate(-10%, -10%);
}

.duck-diag {
	display: none;
	text-align: center;
	font-style: italic;
}

.ai-diag {
	display: none;
	text-align: center;
}

.panel {
	position: relative;
	width: 100%;
	height: 200px;
	border-style: solid;
	background-image: url("space.jpg");
}
.intro{
	position: relative;
	width: 100%;
	height: 200px;
	border-style: solid;
	background-image: url("space.jpg");
}

/* meera*/

/* this Css works on the title panel (panel1) ,i imagined the text space duck to be in the center with orange text.
we can change it, i'll make my code as clear as possible using these comments <3 */

/*To being i am starting with the title color and position,
initally space duck was written as a paragraph, i changed it to a heading so i can play around with it's size and color.
*/

h1{
color: #F28C28 ;
  text-align: center;

}
/*As for position u used a div i made on html called text background */
#textbackground{
	background: darkblue;
		width: 400px;
		transform: translateX(170%);
		margin-top: 145px;

}
/* THESE ARE FOR THE BUTTONS, it's the positionof each button <3*/
#MTP0{
margin-left: 47%;
}

#MTP1{
	margin-left: 48%;
	margin-top: 205px
}

#MTP12{
	margin-left: 48%;
transform: translateY(770%);
}


#MTP3{
	margin-left: 48%;
transform: translateY(770%);
}
/* next i want to include the chaining effect for the panels in java */
